<!DOCTYPE html>
<html <%- htmlAttributes.toString() -%>>
  <head>
    <meta charset="UTF-8" />
    <%- meta.toString() -%>
    <%- title.toString() -%>
    <%- link.toString() -%>
    <% styles.forEach((style) => { -%>
      <link rel="stylesheet" type="text/css" href="<%- style -%>" />
    <% }) -%>
  </head>
  <body <%- bodyAttributes.toString() -%>>
    <div id="root"><%- html -%></div>
    <% scripts.forEach((script) => { -%>
      <script type="text/javascript" src="<%- script -%>"></script>
    <% }) -%>
  </body>
</html>
